html{
    background-color : black
}

.stop {
    
    width: 100vw;
    height: 100vh;
    
    
    background-image : url(../media/stop.png);
    
    background-repeat:no-repeat;
    background-size: contain;
}
.question {
    transform: translate(25vw, 50vh);
    
}

h1{
    color:white;
    
}

p {
    color:white;
    font-size: 2vw;
}

.box{
    
    width: 50vw;
    height: 20vh;
    font-size: 5vw;
}